{% extends 'weekly/layout.html' %}

{% block title %} {{title}} {% endblock title %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="message">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <h1 class="title">{{title}}</h1>

    <ol>
        {% for agent in agents %}
            <li>
                {{agent.cf}} {{agent.name|title}} {{agent.surnames|title}}
                <a href="{% url 'agent' cf=agent.cf %}">Ver</a>
            </li>
        {% empty %}
            <p><strong>No hay agentes en la base de datos</strong></p>
        {% endfor %}
    </ol>
{% endblock content %}