{% extends 'layouts/layout.html' %}

{% load static %}

{% block title %} {{title}} {% endblock title %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="message">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <h1 class="title"> {{title}} </h1>

    {% if form.errors %}
        <strong class="error">Hay errores en el formulario</strong>
    {% endif %}

    <form method="POST" enctype="multipart/form-data">

        {% csrf_token %}

        {{ form }}

        <button type="submit">Guardar</button>

    </form>

{% endblock content %}