{% extends 'layouts/layout.html' %}

{% block title %} {{title}} {% endblock title %}

{% block content %}
    <h1 class="title">{{title}}</h1>

    <table id="week-shifts">
    <caption>{{ caption }}</caption>
        <tr>
            <th></th>
            <th></th>
            <th>Lun</th>
            <th>Mar</th>
            <th>Mié</th>
            <th>Jue</th>
            <th>Vie</th>
            <th>Sáb</th>
            <th>Dom</th>
        </tr>
        <tr>
            <th></th>
            <th></th>
            {% for day in days %}
                <th>{{ day|date:"d" }}</th>
            {% endfor %}
        </tr>
        {% comment %}
        {% for agent_shifts in agents_shifts %}
            <tr>
                <th>{{ agent_shifts.name }}</th>
                {% for shift in agent_shifts.shifts %}
                    <td>{% if shift is not None %}{{ shift }}{% endif %}</td>
                {% endfor %}
            </tr>
        {% endcomment %}
        {% for agent_shifts in agents_shifts %}
            {% for cf, name, mon, tue, wed, thu, fri, sat, sun in agent_shifts %}
                <tr>
                    <th>{{ cf }}</th>
                    <th>{{ name }}</th>
                    <td>{{ mon }}</td>
                    <td>{{ tue }}</td>
                    <td>{{ wed }}</td>
                    <td>{{ thu }}</td>
                    <td>{{ fri }}</td>
                    <td>{{ sat }}</td>
                    <td>{{ sun }}</td>
                </tr>
            {% endfor %}
        {% empty %}
            <p><strong>No se ha encontrado nada de nada</strong></p>
        {% endfor %}
    </table>
{% endblock content %}